.line {
  stroke: #16a085;
  transition: stroke 0.1s;
  -webkit-transition: stroke 0.1s;
  -moz-transition: stroke 0.1s;
  -o-transition: stroke 0.1s;
}

.special {
  stroke: #c0392b;
  stroke-width: 4px;
}