.circle {
	fill: #2c3e50;
	stroke: #16a085;
	stroke-width: 5px;
	transition: stroke 0.1s;
	-webkit-transition: stroke 0.1s;
	-moz-transition: stroke 0.1s;
	-o-transition: stroke 0.1s;
}

.special {
	stroke: #8e44ad;
}